# =====================
# Java / Spring Boot
# =====================

target/

*.jar
*.war


# =====================
# Maven
# =====================

.mvn/wrapper/maven-wrapper.jar


# =====================
# IDE
# =====================

.idea/

.vscode/

*.iml


# =====================
# Logs
# =====================

*.log

logs/


# =====================
# Environment Secrets
# =====================

.env

application-prod.properties


# =====================
# File uploads
# =====================

uploads/


# =====================
# OS Files
# =====================

.DS_Store

Thumbs.db


# =====================
# Docker
# =====================

.docker/


# =====================
# Frontend
# =====================

node_modules/

dist/

.env.local